<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                    <div class="text-center">
                        <span class="block text-500 font-medium mb-3">Produits</span>
                        <div class="text-900 font-medium text-xl">{{servicestatistic.statistic.nbproduit}}</div>
                    </div>
                    <div class="text-center">
                        <span class="block text-500 font-medium mb-3"> Piéces en stock</span>
                        <div class="text-900 font-medium text-xl">{{servicestatistic.statistic.nbqtyproduit}}</div>
                    </div>

                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-box text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-500">Montant Achat Total</span>
            <span class="text-red-500 font-bold pl-2">{{servicestatistic.statistic.totalprixunitaire }} TND  </span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between ">
                <div>
                    <span class="block text-500 font-medium ">Revenus estimés (Gain)</span>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi text-orange-500 text-l">TND</i>
                </div>
            </div>
            <div class="flex justify-content-around">
                <div>
                    <span class="block text-500 font-medium mb-3">Unitaire</span>
                    <div class="text-900 text-green-500 font-bold text-l">TND {{servicestatistic.statistic.totalgainunitaire}}</div>
                </div>
                <div>
                    <span class="block text-500 font-medium mb-3">Gros</span>
                    <div class="text-900 text-green-500 font-bold text-l">TND {{servicestatistic.statistic.totalgaingros}}</div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between ">
                <div class="flex">
                    <span class="block text-500 font-medium mb-3">Ventes</span>
                    <span class="text-900 font-medium " style="margin-left: 6px"> {{servicestatistic.statistic.nbVentes}}</span>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-shopping-cart text-cyan-500 text-xl"></i>
                </div>
            </div>
            <div class="flex justify-content-around">
                <div>
                    <span class="block text-500 font-medium mb-3">Somme de ventes</span>
                    <div class="text-900 text-red-500 font-bold text-xl">TND {{servicestatistic.statistic.totalVentes}}</div>
                </div>
                <div>
                    <span class="block text-500 font-medium mb-3">gain</span>
                    <div class="text-900 text-green-500 font-bold text-l">TND {{servicestatistic.statistic.totalGainVentes}}</div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between">
                <div class="flex">
                    <span class="block text-500 font-medium mb-3">Factures</span>
                    <span class="text-900 font-medium " style="margin-left: 6px"> {{servicestatistic.statistic.nbFactures}}</span>
                </div>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-file text-purple-500 text-xl"></i>
                </div>
            </div>
            <div class="flex justify-content-around">
                <div>
                    <span class="block text-500 font-medium mb-3">Somme de ventes</span>
                    <div class="text-900 text-red-500 font-bold text-xl">TND {{servicestatistic.statistic.totalFactures}}</div>
                </div>
                <div>
                    <span class="block text-500 font-medium mb-3">gain</span>
                    <div class="text-900 text-green-500 font-bold text-l">TND {{servicestatistic.statistic.totalGainFactures}}</div>
                </div>
            </div>
        </div>
    </div>


</div>

<h3>Statistiques des ventes</h3>
<div class="flex flex-wrap ">
    <div class="col-12 md:col-6">
        <div class="p-card">
            <h5 class="p-2">Journalière</h5>
            <p-chart type="line" [data]="chartDataVentes" [options]="chartOptions"></p-chart>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="p-card">
            <h5 class="p-2">Mensuel</h5>
            <p-chart type="bar" [data]="chartDataVentesMois" [options]="chartOptionsMois"></p-chart>
        </div>
    </div>
</div>

<h3>Statistiques du factures</h3>
<div class="flex flex-wrap ">
    <div class="col-12 md:col-6">
        <div class="p-card">
            <h5 class="p-2">Journalière</h5>
            <p-chart type="line" [data]="chartDataFactures" [options]="chartOptions"></p-chart>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="p-card">
            <h5 class="p-2">Mensuel</h5>
            <p-chart baseChart [data]="chartDataFacturesMois" [options]="chartOptionsFactMois" [type]="chartType"></p-chart>
        </div>
    </div>

    <h3>Statistiques du Services </h3>
<div class="flex flex-wrap ">
    <div class="col-12 md:col-6">
        <div class="p-card">
            <h5 class="p-2">Journalière</h5>
            <p-chart type="line" [data]="chartDataCommande" [options]="chartOptions"></p-chart>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="p-card">
            <h5 class="p-2">Mensuel</h5>
            <p-chart baseChart [data]="chartDataCommandeMois" [options]="chartOptionsFactMois" [type]="chartType"></p-chart>
        </div>
    </div>



</div>
</div>