

<div class="row p-2">
    <div class="flex-auto p-1 mt-2 shadow-lg rounded-4 p-3 surface-card">
        <div class="flex">

        <div class="flex flex-column gap-2 ">
            <label for="codebarre" class="fs-5 fw-bold">Suffix</label>
            <input type="text" pInputText
                   maxlength="3"
                   class="form-control w-25"
                   id="codebarre"
                   aria-describedby="codebarre-help"
                   [(ngModel)]="Sufix" />
        </div>


        <div class="flex flex-column gap-2 p-3 mt-4">
            <p-button
                label="Généré"
                (click)="GenationCode()"
                icon="pi pi-spin pi-cog"
                styleClass="p-button-raised p-button-text"
                iconPos="right">
            </p-button>
        </div>
        </div>
    </div>
</div>
<div id="contenuImprimerCodeBarreTEst"    [hidden]="true">
    <div *ngFor="let indexCode of numbersArray"   >

        <ngx-barcode6
                class="fw-bold"
                [bc-width]="60"
                [bc-format]="'CODE128'"
                [bc-height]="30"
                id="contenuImprimerCodeBarreTEst{{indexCode}}"
                [bc-value]="valueCodeBarre"
                [bc-display-value]="true">
        </ngx-barcode6>
    </div>
</div>

